{% extends "base.html" %}

{% block main %}

<style>
  td {
    vertical-align: top;
  }

</style>
<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        {% if itemset %}
            <h1 class="vertical-spacing-bottom-0-25">{{itemset.metadata.title|safe}}</h1>
            <div>{% if not filtered %}Last updated {{itemset.last_updated|timesince}} | {% endif %}{{itemset.pagination.total}} items</div>
            <br /><hr />
            <p>Page {{itemset.pagination.current_page}} of {{itemset.pagination.page_count}} | {{itemset.pagination.page_size}} items per page</p>
          {% include "shared/partials/sets/pagination.html" %}
          <hr />
        {% else %}
        <h1 class="vertical-spacing-bottom-0-25">Ooops, we've got a problem  </h1>
        {% endif %}
        <div class="vertical-spacing-top vertical-spacing-bottom">
          {% if facet_display == 'info' %}
            {% include "shared/partials/sets/info.html" %}
          {% elif facet_display == 'peptide_angles' %}
            {% include "shared/partials/sets/peptide_angles.html" %}
          {% elif facet_display == 'allele_match' %}
            {% include "shared/partials/sets/allele_match.html" %}
          {% elif facet_display == 'peptide_neighbours' %}
            {% include "shared/partials/sets/peptide_neighbours.html" %}
          {% else %}
            {% include "fragments/sets/default.html" %}
          {% endif %}

        </div>
        {% if itemset %}
        <hr />
        {% include "shared/partials/sets/pagination.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</section>



{% endblock %}


