<style>
    span.label {
        padding: 3px;
        margin-right: 5px;
    }
    
    span.species_label {
        background-color: rgba(105, 171, 201, 0.2);
        border:1px solid #69abc9;
    }

    span.peptide_anchor_label {
        background-color: rgba(180, 132, 169, 0.2);
        border:1px solid #b484a9;
    }

    span.peptide_length_label {
        background-color: rgba(245, 229, 75, 0.2);
        border:1px solid #F5E54B;
    }

    span.date_label {
        background-color: rgba(142, 142, 174, 0.2);
        border:1px solid #8e8eae;
    }

    span.component_class_i_alpha {
        background-color: rgba(97, 146, 126, 0.2);
        border:1px solid #61927E;
    }

    span.component_beta2m {
        background-color: rgba(225, 147, 91, 0.2);
        border:1px solid #E1935B;
    }

    span.component_tcr_alpha {
        background-color: rgba(150, 196, 94, 0.2);
        border:1px solid #96C45E;
    }

    span.component_tcr_gamma {
        background-color: rgba(150, 196, 94, 0.2);
        border:1px solid #96C45E;
    }

    span.component_tcr_beta {
        background-color: rgb(218, 78, 169, 0.2);
        border:1px solid #DA4EA9;
    }

    span.component_tcr_delta {
        background-color: rgb(218, 78, 169, 0.2);
        border:1px solid #DA4EA9;
    }

    span.component_cd8 {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_cd8a {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_cd8b {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_lir1 {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_lir2 {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_kir {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_ly49a {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_ly49b {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }

    span.component_ly49c {
        background-color: rgba(153, 153, 153, 0.2);
        border:1px solid #999999;
    }


</style>



<table width="100%">
    {% for structure in structures %}
    
    {% set structure_url = '/structures/view/'+ structure.pdb_code %}
    <tr>
        <td><strong><a href="{{structure_url}}">{{structure.pdb_code | upper}}</a>&nbsp;&nbsp;</strong></td>
        {% if structure %}
        <td>
            <h3 class="vertical-spacing-bottom-0"><a href="{{structure_url}}">{{structure.title | safe}}</a></h3>
            <div class="vertical-spacing-bottom-0-25"><smaller>{{structure.pdb_title | upper}}</smaller></div>
            <div class="vertical-spacing-bottom"><smaller>
                <span class="species_label label">{{structure.species}}</span>
                <span class="date_label label">Released {{structure.release_year}}</span>
                {% if structure.peptide_length_name %}
                    <span class="peptide_length_label label">{{structure.peptide_length_name | capitalize}} peptide ({{structure.peptide_length}}aa)</span>
                {% endif %}
                {% for component in structure.components %}
                {% if component != 'peptide' %}
                    <span class="component_{{component}} label">{%if component in chain_types%}{{chain_types[component]["ui_text"]}}{%else%}{{component}}{%endif%}</span>
                {% endif %}
            {% endfor %}
            </smaller>
            </div>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>