<style>
    .feedback-input {
        width:450px;
    }

    .feedback-textarea {
        width:450px;
        height:450px;
        resize: none;
    }
</style>
<form class="vertical-spacing-bottom-0-5" action="{{action}}" method="{{method}}">
    <div class="vertical-spacing-bottom-0-5">
        <label for="name"><span class="inline-label">Name*</span></label>
        <br />
        <input type="text" name="name" id="name" class="feedback-input" {% if variables.name %}value="{{variables.name}}"{% endif %}/>
    </div>
    <div class="vertical-spacing-bottom-0-5">
        <label for="email"><span class="inline-label">Email*</span></label>
        <br />
        <input type="text" name="email" id="email" class="feedback-input" {% if variables.email %}value="{{variables.email}}"{% endif %}/>
    </div>
    <div class="vertical-spacing-bottom-0-5">
        <label for="feedback"><span class="inline-label">Feedback*</span></label>
        <br />
        <textarea name="feedback" id="feedback" class="feedback-textarea">{% if variables.feedback %}{{variables.feedback}}{% endif %}</textarea>
    </div>

    <input type="hidden" name="url" id="url"  value="{{variables.url}}"/>
    <input type="hidden" name="feedback_type" id="feedback_type"  value="{{variables.feedback_type}}"/>
    <input type="submit" value="Submit" />
</form>
