<style>
    .text-input {
        width:300px
    }
</style>
<form class="vertical-spacing-bottom-0-5" action="{{action}}" method="{{method}}">
    <label for="pdb_code"><span class="inline-label">PDB code</span></label>
    <input type="text" name="pdb_code" id="pdb_code" class="text-input"/>
    {% if mhc_class %}
        <input type="hidden" name="mhc_class" id="mhc_class"  value="{{mhc_class}}"/>
    {% endif %}
    <input type="hidden" name="section" id="section"  value="{{section}}"/>
    <input type="submit" value="Go" />
</form>
